/* INICIO */
.sombra_1 {
  box-shadow: 0 5px 26px 8px magenta;
  scale: 1.1; }

* {
  margin: 0;
  padding: 0; }

.container_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas: "header" "seccion"; }

header {
  background-image: url(../img/fondo2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column; }
  header img {
    width: 250px;
    margin: 20px 0 20px 0;
    align-items: center; }

.header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.seccion {
  grid-area: seccion;
  background-image: url(../img/fondo1.jpg); }
  .seccion h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    margin-top: 20px; }
  .seccion p {
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem; }

.footer {
  width: 100%;
  height: auto;
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine; }
  .footer .formato_p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-style: bold;
    padding: 0%; }

.logos_footer {
  font-size: 60px;
  margin-top: -40px; }
  .logos_footer a {
    text-decoration: none;
    transition: all 200ms ease; }
  .logos_footer a:hover {
    opacity: 10px; }

.logos_footer a img {
  width: 40px; }

.logos_footer a img:hover {
  box-shadow: 0 5px 26px 8px magenta;
  scale: 1.1;
  width: 40px; }

/* TIENDA */
.container_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "header" "seccion"; }

header {
  background-image: url(../img/fondo2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column; }
  header img {
    width: 250px;
    margin: 20px 0 20px 0;
    align-items: center; }

.header {
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.seccion {
  grid-area: seccion;
  background-image: url(../img/fondo1.jpg);
  padding: 20px; }

.contenedor_card .titulo_card {
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive; }

#marginCard {
  margin-top: 10%; }

.flecha_arriba {
  display: flex;
  justify-content: end; }
  .flecha_arriba img {
    width: 40px;
    margin-top: 20px; }

.footer {
  width: 100%;
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine; }
  .footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-style: bold;
    margin-top: 30px; }

.logos_footer {
  font-size: 60px; }
  .logos_footer a {
    text-decoration: none;
    transition: all 200ms ease; }
  .logos_footer a:hover {
    opacity: 10px; }

.logos_footer a img {
  width: 40px; }

/* DIBUJOS */
#titulo_dibujos {
  margin-right: 50px;
  margin-bottom: 20px; }

.gallery {
  padding: 50px 0px; }

img {
  max-width: 100%; }

.gallery img {
  background: #fff;
  padding: 20px;
  width: 100%; }

.flecha_arriba {
  display: flex;
  justify-content: end; }
  .flecha_arriba img {
    width: 40px;
    margin-top: 20px; }

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine; }
  .footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-style: bold;
    margin-top: 30px; }

.logos_footer {
  font-size: 60px; }
  .logos_footer a {
    text-decoration: none;
    transition: all 200ms ease; }
  .logos_footer a:hover {
    opacity: 10px; }

.logos_footer a img {
  width: 40px; }

/* PINTURA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#titulo_dibujos {
  margin-right: 50px;
  margin-bottom: 20px; }

.gallery {
  padding: 50px 0px; }

img {
  max-width: 100%; }

.gallery img {
  background: #fff;
  padding: 20px;
  width: 100%; }

.flecha_arriba {
  display: flex;
  justify-content: end; }
  .flecha_arriba img {
    width: 40px;
    margin-top: 20px; }

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  margin-top: 25%; }
  .footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-style: bold;
    margin-top: 30px; }

.logos_footer {
  font-size: 60px; }
  .logos_footer a {
    text-decoration: none;
    transition: all 200ms ease; }
  .logos_footer a:hover {
    opacity: 10px; }

.logos_footer a img {
  width: 40px; }

/* GRABADOS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.flecha_arriba {
  display: flex;
  justify-content: end; }
  .flecha_arriba img {
    width: 40px;
    margin-top: 20px; }

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  margin-top: 25%; }
  .footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-style: bold;
    margin-top: 30px; }

.logos_footer {
  font-size: 60px; }
  .logos_footer a {
    text-decoration: none;
    transition: all 200ms ease; }
  .logos_footer a:hover {
    opacity: 10px; }

.logos_footer a img {
  width: 40px; }

@media screen and (min-width: 768px) {
  /* INICIO MEDIA SCREEM  */
  .container_inicio {
    grid-template-rows: 0.4fr 4fr; }
  .seccion p {
    font-size: 1.5rem; }
  /* TIENDA MEDIA SCREEM  */
  .container_1 {
    grid-template-rows: 0.4fr 8fr; }
  #marginCard {
    margin-bottom: 20px; }
  /* DIBUJO MEDIA SCREEM  */
  .container_dibujo {
    grid-template-rows: 0.4fr 4fr; }
  /* PINTURA MEDIA SCREEM  */
  .container_pintura {
    grid-template-rows: 0.4fr 4fr; }
  /* GRABADOS MEDIA SCREEM  */
  .container_grabados {
    grid-template-rows: 0.4fr 4fr; }
  /* MURALES MEDIA SCREEM  */
  .container_grabados {
    grid-template-rows: 0.4fr 4fr; } }

@media screen and (min-width: 1024px) {
  /* INICIO MEDIA SCREEM  */
  .seccion p {
    font-size: 2.5rem; }
  /* TIENDA MEDIA SCREEM  */
  .container_1 {
    grid-template-rows: 0.4fr 10fr; } }

@media screen and (min-width: 1440px) {
  /* INICIO MEDIA SCREEM  */
  .container_1 {
    grid-template-rows: 0.4fr 14fr; }
  .seccion p {
    margin-top: 150px;
    font-size: 3rem;
    text-align: center; }
  /* CONTACTAME MEDIA SCREEM  */
  .container_6 {
    grid-template-rows: 0.4fr 20fr; } }

/* EXTEND */
.estilo_1, .estilo_2 {
  margin-top: 150px;
  margin-left: 80px;
  margin-right: 80px; }

.estilo_2 {
  font-size: 3rem; }

.sombra_1 {
  box-shadow: 0 5px 26px 8px magenta;
  scale: 1.1; }
