
    
///////* 768px *//////// 
@media screen and (min-width:768px){

/* INICIO MEDIA SCREEM  */

.container_inicio{
    grid-template-rows: 0.4fr 4fr;
 }
.seccion p{
    font-size: 1.5rem;
}

/* TIENDA MEDIA SCREEM  */

.container_1{
   grid-template-rows: 0.4fr 8fr; 
}
#marginCard{
    margin-bottom: 20px;
}

/* DIBUJO MEDIA SCREEM  */

.container_dibujo{
    grid-template-rows: 0.4fr 4fr; 
 }

 /* PINTURA MEDIA SCREEM  */

.container_pintura{
    grid-template-rows: 0.4fr 4fr; 
 }

  /* GRABADOS MEDIA SCREEM  */

.container_grabados{
    grid-template-rows: 0.4fr 4fr; 
 }
   /* MURALES MEDIA SCREEM  */

.container_grabados{
    grid-template-rows: 0.4fr 4fr; 
 }

}

 ///////* 1024px *//////// 
@media screen and (min-width:1024px){   

    /* INICIO MEDIA SCREEM  */
.seccion p{
    font-size: 2.5rem;
}
/* TIENDA MEDIA SCREEM  */
.container_1{
    grid-template-rows: 0.4fr 10fr; 
 }
}


///////* 1440px *//////// 
@media screen and (min-width:1440px){

    /* INICIO MEDIA SCREEM  */
    
    .container_1{
        grid-template-rows: 0.4fr 14fr; 
    }
    .seccion{
        p{
            margin-top: 150px;
            font-size: 3rem;
            text-align: center;
            }

    }
  /* CONTACTAME MEDIA SCREEM  */
   .container_6{
       grid-template-rows: 0.4fr 20fr;
   }
    }
  
    