
    
///////* 768px *//////// 
@media screen and (min-width:768px){

/* INICIO MEDIA SCREEM  */
    

    .seccion{
        p{
            margin-top: 130px;
            margin-bottom: 100px;
            font-size: 1.5rem;
            text-align: center;
            }

    }
    .seccion{
        .footer{
            margin-top: 200px;
            
        }
    }

/* TIENDA MEDIA SCREEM  */

.container_3{
   grid-template-rows: 0.4fr 3.3fr; 
}


#marginCard{
    margin-bottom: 20px;
}
    
}

 ///////* 1024px *//////// 
@media screen and (min-width:1024px){   

    /* INICIO MEDIA SCREEM  */
    

   .seccion{
    .formato_p{
        margin-bottom: 80px;
   }
    
   .logos_footer{
    margin-top: -40px;
   }
}
/* TIENDA MEDIA SCREEM  */

.container_3{ 
    grid-template-rows: 0.4fr 3.8fr; 
 }
 

 /* CONTACTAME MEDIA SCREEM  */

    .contenedor_contactame{
        .form{
            width: 80%;
            height: auto;
        }
       
    }
    
}

///////* 1440px *//////// 
@media screen and (min-width:1440px){

    /* INICIO MEDIA SCREEM  */
    
    .container_1{
        grid-template-rows: 0.4fr 3 fr; 
    }
    .seccion{
        p{
            margin-top: 150px;
            font-size: 3rem;
            text-align: center;
            }

    }

      .seccion{
        .footer{
            margin-top: 300px;
            
        }
    }
    .footer{
        p{
            margin-top: 150px;
            
        }
    } 
    
    }
    
     /* TIENDA MEDIA SCREEM  */

.container_3{
 grid-template-rows: 0.4fr 4fr; 

 }
     
    
    

    /* QUIEN SOY MEDIA SCREEM  */

.container_2{
    grid-template-rows: 0.4fr 4fr;
}


    /* CONTACTAME MEDIA SCREEM  */
    


